{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-sm">
                <a href="{{ path('security_register_user') }}" class="btn btn-primary">Je suis un particulier</a>
            </div>
            <div class="col-sm">
                <a href="{{ path('security_register_hotel') }}" class="btn btn-success">Je suis un hôtelier</a>
            </div>
        </div>
    </section>
{% endblock %}