//Node dependancy
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

//Project dependancy
//@import "home";
@import "contact";

//Configuration Material Icons
body{
  background-color: #ebebeb;
}

.redPolice{
  color:#f05f40;
}
.bluePolice{
  color:#003d55;
}

.blueLink{
  margin-top: 15px;
  background-color: #003d55;
  color:white;
  margin-bottom: 15px;
}
.blueLink:hover{
  background-color: white;
  border: 1px solid #003d55;
  color:#003d55;
}

.redLink{
  margin-top: 15px;
  background-color: #f05f40;
  color:white;
}
.redLink:hover{
  background-color: white;
  border: 1px solid #f05f40;
  color:#f05f40;
}

.yellowLink{
  margin-top: 15px;
  background-color: #f1a929;
  color:white;
}
.yellowLink:hover{
  background-color: white;
  border: 1px solid #f1a929;
  color: #003d55;
}

.horizontaleAlign{
  vertical-align: middle;
}

//NAVBAR
.navbar{
  background-color: rgba(0, 0, 0, 0.84);
}

.marginLeftBtn{
  margin-left:10px;
}

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: 3s;
    transition-property: opacity;
  }
}

//HEADER
#searchBar{
  background-color: silver;
  margin-top:0px;
}

#searchInput{
  margin:auto;
}

//BODY
#columnFilter{
  background-color:white;
  margin-top: 40px;
  margin-bottom: 20px;
}

#columnAnnounces{
  margin-top: 5px;
  margin-bottom: 20px;
}

.filters{
  border-bottom: 1px solid #f1a929;
  padding-top : 10px;
  padding-bottom: 10px;
}

//CONTACT
.divTitleReservationtel{
  background-color: #003d55;
  color : white;
  text-align:center;
  vertical-align: middle;
  margin:0px;
  height: 225px;
  padding-top: 40px;
}

.divTitleSAVtel{
  background-color: #003d55;
  color : white;
  text-align:center;
  vertical-align: middle;
  padding: 15px;
  margin-bottom: 15px;
}

.divSAVtel{
  border:1px solid #003d55;
  margin-bottom: 20px;
  background-color: white;
}



//FOOTER
footer{
  background-color: #003d55;
}
#linksFooter{
  background-color: #003853;
  color:white;
  margin-top:0px;
  height:auto;
  padding:10px;
}
#copyrightBar{
  background-color: rgba(0, 0, 0, 0.84);
  color:white;
  margin-top:0px;
  height:auto;
  text-align: center;
}
@import "footer";
