{% block footer %}
    <div class="row">
        <div class="col-lg-12 text-center" id="linksFooter">
            <div class="row">
                <div class="col-lg-4">
                    <h5>Infos pratiques</h5>
                    <p>
                        <a>Comment ça marche</a><br>
                        Dès à présent, réserver un hôtel en région Aquitaine en toute simplicité  !
                        1. Choissisez une offre personnalisée grâce aux filtres de recherches
                        2. Réserver une offre et compléter votre réservation avec vos dates de réservation
                        3. Retrouver toutes vos réservations dans l'onglet <b>Mon Compte</b>
                        4. Annuler une réservation en toute simplicité jusque 24H avant la date d'arrivée
                    </p>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <h5>Mentions legales</h5>
                    <p>
                        <a>Conditions générales</a><br>
                        <a>Politique de Confidentialité</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="copyrightBar">
            <h3>AQUITRIP</h3>
            <p>Copyright 2018 aquitrip | Tous droits réservés. | Illustration Designed by Freepik.</p>
        </div>
    </div>
{% endblock %}