{% block footer %}
    <div class="row">
        <div class="col-lg-12 text-center" id="linksFooter">
            <div class="row">
                <div class="col-lg-4">
                    <h5>Infos pratiques</h5>
                    <p>
                        <a>Comment ça marche</a><br>
                        <a>Confiance et sérénité</a><br>
                        <a>Les avis</a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h5>A propos</h5>
                    <p>
                        <a>Qui sommes-nous?</a><br>
                        <a>Contact</a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h5>Mentions legales</h5>
                    <p>
                        <a>Conditions générales</a><br>
                        <a>Politique de Confidentialité</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="copyrightBar">
            <h3>AQUITRIP</h3>
            <p>Copyright 2018 aquitrip | Tous droits réservés.</p>
        </div>
    </div>
{% endblock %}