{% block header %}
    <div class="row" id="searchBar">
        <div class="col-lg-4">
        </div>
            <div class="col-lg-4">
                <div class="input-group mb-2" id="searchInput">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tapez un lieu">
                    <div class="input-group-append">
                        <div class="input-group-text"><img src="assets/img/side-search.png"></div>
                    </div>
                    <label class="sr-only" for="inlineFormInputGroup">Tapez un lieu</label>
                </div>
            </div>
       <div class="col-lg-4"></div>
    </div>
    <!-- /.row -->
{% endblock %}