{% block header %}
    <div class="row" id="searchBar">
        <div class="col-lg-4">
        </div>
            <div class="col-lg-4">
                <div class="input-group mb-2" id="searchInput">
                </div>
            </div>
       <div class="col-lg-4"></div>
    </div>
    <!-- /.row -->
{% endblock %}