{% extends 'base.html.twig' %}

{% block body %}
    <section id="top-destination">
        <b-container class="bv-example-row">
            <p>Top destination page</p>
        </b-container>
    </section>
{% endblock %}