{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10" style="border-radius:30px;background-color: white; margin-top:30px; margin-bottom:30px;text-align: center;padding-top: 0px;">
                        <div class="row" style="padding-top: 20px;padding-bottom: 5px;border-radius:30px 30px 0px 0px;background-color: #f1a929;border-bottom:6px solid #003d55;">
                            <div class="col-md-12">
                                <h4><b>VOS INFORMATIONS PERSONNELLES</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5" style="text-align: left;padding-top: 20px;padding-left: 30px;">
                                <img class="d-block w-75" src="{{ asset('img/personalData_profil.jpg') }}" alt="illustration profil">
                            </div>
                            <div class="col-md-7" style="text-align: left;padding: 45px 20px 20px 0px;">
                                <h6><b class="bluePolice">Nom :</b> {{ user.firstname }}</h6>
                                <h6><b class="bluePolice">Prénom :</b> {{ user.lastname }}</h6>
                                <h6><b class="bluePolice">Email :</b> {{ user.email }}</h6>
                                <h6><b class="bluePolice">Rôle : </b>{% if user.roles[0] == "ROLE_ADMIN" %}
                                        Admin
                                    {% elseif user.roles[0] == "ROLE_HOTELIER" %}
                                        Hôtelier
                                    {% else %}
                                        Utilisateur
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}