{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h1 class="redPolice">Vos informations personnelles</h1>
            <table width="80%" align="center" class="table-bordered">
                <tr>
                    <td class="text-center">

                        <table align="center" class="table table-fixed table-striped table-condensed">
                            <tr style="background-color:#e9e8e6;">
                                <th style="text-align: center;">Nom</th>
                                <th style="text-align: center;">Prénom</th>
                                <th style="text-align: center;">Email</th>
                                <th style="text-align: center;">Rôle</th>
                            </tr>
                            <tr>
                                <td align="center">
                                    {{ user.firstname }}
                                </td>
                                <td align="center">
                                    {{ user.lastname }}
                                </td>
                                <td align="center">
                                    {{ user.email }}
                                </td>
                                <td align="center">
                                    {% if user.roles[0] == "ROLE_ADMIN" %}
                                        Admin
                                    {% elseif user.roles[0] == "ROLE_HOTELIER" %}
                                        Hôtelier
                                    {% else %}
                                        Utilisateur
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

{% endblock %}