{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <p>Mes demandes de contact</p>
        <table width="80%" align="center" class="table-bordered">
            <tr>
                <td class="text-center">

                    <table align="center" class="table table-fixed table-striped table-condensed">
                        <tr style="background-color:#e9e8e6;">
                            <th style="text-align: center;">Sujet</th>
                            <th style="text-align: center;">Message</th>
                            <th style="text-align: center;">Date de demande</th>
                        </tr>
                        {% for contact in contacts %}
                            <tr>
                                <td align="center">
                                    {{ contact.subject }}
                                </td>
                                <td align="center">
                                    {{ contact.message }}
                                </td>
                                <td align="center">
                                    {{ contact.createdAt|date('d-m-Y') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </section>
{% endblock %}