{% extends 'base.html.twig' %}

{% block body %}
    <section id="contact">
        <b-container class="bv-example-row">
            <b-row class="text-center">
                <b-col cols="3">
                    <aside class="contact-aside-information">
                        <b-card class="text-center">
                            This is some text within the default card block.
                        </b-card>
                    </aside>

                    <aside class="contact-aside-information">
                        <b-card class="text-center">
                            This is some text within the default card block.
                        </b-card>
                    </aside>
                </b-col>

                <b-col cols="9">
                    <section class="contact-main-information">
                        <b-card class="text-center">
                            This is some text within the default card block.
                        </b-card>
                    </section>
                </b-col>
            </b-row>
        </b-container>
    </section>
{% endblock %}