{% extends 'backoffice/base_backoffice.html.twig' %}

{% block body %}
    <section class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h1>BackOffice - Hotelier</h1>

        <p>Vos hotels :</p>
        <ul>
            {% for hotel in hotels %}
                <li><a href="{{ path('hotelierChambresHotel', {id: hotel.id}) }}">{{ hotel.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
