{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <!--<app></app>-->


        <!-- Page Content -->
        <div class="row">
            <!-- Filters Column -->
            <div class="col-lg-4 text-center" style="border-right: 0px solid silver;">
                <div class="row">
                    <!-- FORM FILTERS -->
                    <div class="col-lg-12 text-left" id="columnFilter">
                        <form action="" method="post" class="form-horizontal">
                                <div class="form-group col-sm-12 row">
                                    <h3>{{ 'home.filters'|trans|raw }}</h3>
                                </div>
                                <div class="form-group col-sm-12 row">
                                    Du :
                                    <input class="form-control form-control-sm" name="datePublication" type="date" value="" id="example-date-input">
                                </div>
                                <div class="form-group col-sm-12 row filters">
                                    au :
                                    <input class="form-control form-control-sm" name="datePublication" type="date" value="" id="example-date-input">
                                </div>
                            Prix:
                                <div class="form-group col-sm-12 row filters" data-role="rangeslider">

                                    <input class="custom-slider" type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                                </div>

                                <div class="form-group col-sm-12 row filters">
                                    Catégorie de l'hôtel :
                                </div>

                                <div class="form-group col-sm-12 row filters">
                                    Option :
                                </div>

                                <div class="col-auto input-group mb-2 ">
                                        <input type="text" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Tapez une adresse">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><img src="assets/img/side-search.png"></div>
                                        </div>
                                </div>
                                <div class="col-auto input-group mb-2">
                                        <input type="text" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Tapez le nom d'un hôtel...">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><img src="assets/img/side-search.png"></div>
                                        </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <button type="submit" id="filter" name="filter" class="btn btn-primary">Rechercher</button>
                                        <button type="submit" name="clearFilter" class="btn btn-default">Annuler</button>
                                    </div>
                                </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- LISTE ANNONCES -->
            <div class="col-lg-8 text-center">
                <div class="row">
                    <div class="col-lg-12 text-left" id="columnAnnounces">
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-sm-6">
                                <p><b>4</b> sur 286 offres</p>
                            </div>
                            <div class="col-sm-6">
                                <select class="custom-select custom-select-sm mb-3">
                                    <option selected disabled>Trier par :</option>
                                    <option value="1">Date</option>
                                    <option value="2">Prix</option>
                                    <option value="3">Toutes les annonces</option>
                                </select>
                            </div>
                        </div>
                        <div id ="listAnnonces" class="row">

                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body row">
                                        <div class="col-sm-4" style="background-color: silver;">
                                            <img class="card-img-top" src="..." alt="Card image cap">
                                        </div>
                                        <div class="col-sm-6">
                                            <h5 class="card-title">Nom offre</h5>
                                            <p class="card-text">Description</p>
                                            <div>
                                                <a>Voir sur la carte</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <img class="card-img-top" src="..." alt="icon note ">
                                            <p>(très bien)</p>
                                            <p>240 avis</p>
                                            <a href="#" class="btn btn-primary">Voir offre</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Liste annonces-->
        </div>
    </section>

{% endblock %}